/* General Styles */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    background-color: #f2f6fc;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #BDBDBD;
    font-size: 16px;
    padding: 8px 12px;
    font-weight: 500;
    transition: all 0.3s;
}

.nav-links a:hover, 
.nav-links a.active {
    border-bottom: 2px solid #2980b9;
    color: #2980b9;
}

/* Typography */
.qims-heading-font {
    background-color: #f2f6fc;
    border: none;
    font-weight: 700;
    color: #2980b9;
    text-align: left;
    padding: 10px 20px;
    font-size: 19px;
}

.qims-status-font {
    font-weight: 400;
    color: #2980b9;
    text-align: left;
    font-size: 14px;
}

/* Services Box */
.qims-services {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgba(0, 0, 0, 0.842);
    border-left: 3px solid #90caf9;
    background-color: #e3f2fd;
    font-size: 12px;
    padding: 10px;
    outline: none;
}

/* Buttons */
.btn {
    background-color: #2980b9;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #1e5e8b;
}
